@import 'normalize.css';

@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri/Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mate_SC';
    src: url('fonts/Mate_SC/MateSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

img {
    height: auto;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #171717;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Amiri';
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

h2 {
    font-family: 'Amiri';
    font-size: 38px; 
    line-height: 40px;
}

h3 {
    font-family: 'Roboto';
    font-size: 25px;
}

h4 {
    font-family: 'Mate_SC';
    font-size: 20px;
    line-height: 15px;
}

p {
    font-family: 'Amiri';
    font-size: 16px;
    line-height: 30px;
}

a { 
    text-decoration: none;
    color: #F9A78F;
 }

.wrapper {
    margin: .4rem;
    padding: .5rem;
}

.logo {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.topnav {
    background-color: #f9f9f9;
    overflow: hidden;
    text-align: center;
    padding-bottom: 1rem;
}

 .topnav a {
    width: 50%;
    margin: 0 8px;
    text-align: center;
    color: #E39F76;
    font-size: 1.25rem;
    letter-spacing: .02rem;
 }

.topnav a:hover {
     color: #FDC383;
 }

.dropbtn {
    background-color: transparent;
    font-size: 1.25rem;
    color: #ED9F76;
    padding: 16px;
    border: none;
}

.dropbtn:hover {
    color: #FDC383
}

.dropdown {
    display: inline-block;
}

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
     min-width: 160px;
     z-index: 1;
 }

 .dropdown-content a {
     color: #F9A78F;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown-content a:hover {
     color: #FDC383;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

.readmore p {
    font-size: 20;
}

.readmore a:hover {
    color: #FDC383;  
}

.aboutme {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    margin: 2rem auto;
}

.aboutme a {
    width: 300px;
    font-size: 20px;
    color: white;
    font-family: Playfair;
}

.aboutmehead {
    margin-top: .25rem;
    margin-bottom: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    text-align: center;
    background-color: #FBE2DA;
    color: white;
}

.aboutmehead a {
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmehead:hover {
    background-color: #F9A78F;
}

.aboutmehead h3 {
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmeimage {
    padding-top: 1rem;
    text-align: center;
}

.Hi {
    text-align: center;
}

.aboutmetext p {
font-size: 20px;
line-height: 1.5rem;
}


.aboutmereadmore {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #FDC383;
    color: white;
  }

.aboutmereadmore a {
    display: box;
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmereadmore:hover {
    background-color: #F3C9B1;
}

.aboutmereadmore a:hover {
    color: white;  
}


.readmore {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    width: 300px;
  }

.readmore a {
    font-size: 20px;
    color: #E39F76;
}

.homeblogtitle h2 {
    font-size: 2rem;
}

.homeblogtitle a:hover {
    color: #FDC383;
}

.footer {
    padding: .5rem;
    background-color: #f2f2f2;
    margin-top: 1rem;
}

.footernavbar {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    bottom: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    padding: .5rem;
}

.footernavbar a {
    float: left;
    display: block;
    color: #F9A78F;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 8px;
} 

ul {
    list-style-type: none;
}

.footernavbar a:hover {
    color: #FDC383;
}

.aboutmeheader h1 {
    text-align: center;
    padding-top: 1rem;
}

.aboutmeheader {
    background-color: transparent;
    z-index: 9999;
}


.IGTitle {
    margin-top: .25rem;
    margin-bottom: 1rem;
    margin-right: .6rem;
    margin-left: .6rem;
    padding: .25rem;
    text-align: center;
    background-color: #FBE2DA;
    color: white;
}

.IGTitle:hover {
    background-color: #F9A78F;
}

.IGTitle a {
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: white;
}

.IGTitle h3 {
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: white;
}

.LondonTitle h2 {
    text-align: center;
    font-size: 2.2rem;
    font-family: Roboto;
}

.LondonTitle {
    margin-bottom: 3rem;
}

/* Padding for the bottom of images in blog posts to help create sections for each blog section*/

.lastimage {
   padding-bottom: 1rem;
}

/* Padding for the bottom of text in blog posts when there are no images at the bottom to help create sections for each blog section*/

.lasttext {
    padding-bottom: 1rem;
}

/*For blog post title and paragraph sections*/

.container {
    margin: 0rem .5rem;
    padding: 0rem .6rem;
}