@import 'normalize.css';

@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri/Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mate_SC';
    src: url('fonts/Mate_SC/MateSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

img {
    height: auto;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #171717;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Amiri';
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-family: 'Amiri';
    font-size: 38px; 
    line-height: 40px;
}

h3 {
    font-family: 'Roboto';
    font-size: 25px;
}

h4 {
    font-family: 'Mate_SC';
    font-size: 20px;
    line-height: 15px;
}

p {
    font-family: 'Amiri';
    font-size: 16px;
    line-height: 30px;
}

a { 
    text-decoration: none;
    color: #F9A78F;
 }

.wrapper {
    margin: 1rem 3rem 1rem 3rem;
    padding: 1.15rem;
}

.logo {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.topnav {
    background-color: #f9f9f9;
    overflow: hidden;
    text-align: center;
}

 .topnav a {
    width: 50%;
    margin: 0 8px;
    text-align: center;
     color: #E39F76;
     font-size: 1.25rem;
     letter-spacing: .02rem;
 }

.topnav a:hover {
     color: #FDC383;
 }

.readmore p {
    font-size: 20;
}

.readmore a:hover {
    color: #FDC383;  
}

.aboutme {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    margin: 2rem auto;
}

.aboutme a {
    width: 300px;
    font-size: 20px;
    color: white;
    font-family: Playfair;
}

.aboutmehead {
    margin-top: .25rem;
    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    text-align: center;
    background-color: #FBE2DA;
    color: white;
}

.aboutmehead a {
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmehead h3 {
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmeimage {
    padding-top: 1rem;
    text-align: center;
}

.Hi {
    text-align: center;
}

.aboutmetext p {
font-size: 20px;
line-height: 1.5rem;
}


.aboutmereadmore {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #FDC383;
    color: white;
  }

.aboutmereadmore a {
    display: box;
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

a.aboutmereadmore:hover {
    background-color: #F3C9B1;
}

.aboutmereadmore a:hover {
    color: white;  
}


.readmore {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    width: 300px;
  }

.readmore a {
    font-size: 20px;
}

.homeblogtitle h2 {
    font-size: 2rem;
}