@import 'normalize.css';

@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri/Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mate_SC';
    src: url('fonts/Mate_SC/MateSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

img {
    height: auto;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #171717;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Amiri';
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

h2 {
    font-family: 'Amiri';
    font-size: 38px; 
    line-height: 40px;
}

h3 {
    font-family: 'Roboto';
    font-size: 25px;
}

h4 {
    font-family: 'Mate_SC';
    font-size: 20px;
    line-height: 15px;
}

p {
    font-family: 'Amiri';
    font-size: 17px;
    line-height: 1.7rem;
}

a { 
    text-decoration: none;
    color: #F9A78F;
 }

.wrapper {
    margin: .4rem;
    padding: .5rem;
}

.topnav {
    padding: .5rem 0rem 3rem 0rem;
    margin: 1rem;
}

.logo {
    /*position: relative;
    left: 4.5rem;
    bottom: 1.5rem;*/
    padding-left: 3rem;
    max-width: 15.625rem;
    width: 80%;
    float: left;
    text-align: right;

}

.menuicon {
    /*position: relative;
    top: .7rem;
    left: 0.5rem;*/
    text-align: left;
    float: left;
    max-height: 30px;
    max-width: 30px;
    height: 30px;
    width: 20%;
}


.readmore p {
    font-size: 20;
}

.readmore a:hover {
    color: #FDC383;  
}

.aboutme {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
}

.aboutme a {
    width: 300px;
    font-size: 20px;
    color: white;
    font-family: Playfair;
}

.aboutmehead {
    height: 3rem;
    padding-top: 0.7rem;
    text-align: center;
    background-color: #FFD9CD;
    color: white;
}

.aboutmehead a {
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmehead:hover {
    background-color: #F9A78F;
}

.aboutmehead h3 {
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmeimage {
    padding-top: 1rem;
    text-align: center;
}

/* For the Hi, I'm Alessandra! */

.Hi {
    text-align: center;
}

/* For the About Me text on the homepage */

.aboutmetext p {
font-size: 20px;
line-height: 1.7rem;
}

/* For the Read More button underneath the About Me section */

.aboutmereadmore {
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    text-align: center;
    background-color: #FDC383;
    color: white;
  }

.aboutmereadmore a {
    display: box;
    font-size: 20px;
    font-family: Playfair;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.aboutmereadmore:hover {
    background-color: #F3C9B1;
}

.aboutmereadmore a:hover {
    color: white;  
}

/* For the regular read more buttons on the homepage and the London blog posts page */

.readmore {
    margin: 1rem 0rem;
    padding-bottom: 2rem;
    width: 300px;
  }

.readmore a {
    font-size: 20px;
    color: #E39F76;
}

/* For the blog posts on the homepage */

.homeblogtitle h2 {
    font-size: 2rem;
}

.homeblogtitle a:hover {
    color: #FDC383;
}

.footer {
    padding: 1rem;
    background-color: #f2f2f2;
    margin-top: 1rem;
}

ul {
    list-style: none;
    text-align: left;
}

.footernavbar a {
    font-size: 1.2rem;
}

.footernavbar {
    font-size: 1.2rem;
}

.footernavbar a:hover {
    color: #FDC383;
}

.aboutmeheader h1 {
    text-align: center;
    padding-top: 1rem;
}

.aboutmeheader {
    background-color: transparent;
    z-index: 9999;
}

.LondonTitle h2 {
    text-align: center;
    font-size: 2.2rem;
    font-family: Roboto;
}

.LondonTitle {
    margin-bottom: 3rem;
}

/* Padding for the bottom of images in blog posts to help create sections for each blog section*/

.lastimage {
   padding-bottom: 1rem;
}

/* Padding for the bottom of text in blog posts when there are no images at the bottom to help create sections for each blog section*/

.lasttext {
    padding-bottom: 1rem;
}

/*For blog post title and paragraph sections*/

.container {
    margin: 0rem .5rem;
    padding: 0rem .6rem;
}

